<div style="background-color: #295d81">
  <div class="row" style="height: 120px">
    <div class="col-2">
      <img [routerLink]="['/']" class="cursorTag" style="width: 100%; height: 120px; border-radius: 5px"
           src="../../assets/image/Screenshot 2025-03-22 150139.png">
    </div>
    <div class="col-3"></div>
    <div class="col-7">
      <div class="row">
        <div class="col-6" style="justify-content: right; align-items: center; display: flex; height: 120px">
          <span *ngIf="username == null" [routerLink]="['/login']" style="color: white; font-size: 19px"
             class="nav-link hoverYellowColor cursorTag">
            Đăng nhập
          </span>
          <span *ngIf="username != null" class="hoverYellowColor cursorTag"
             style="color: white; font-size: 19px" [routerLink]="['/detailUser']">
            Xin chào: {{username}}
          </span>
        </div>
        <div class="col-6" style="justify-content: center; align-items: center; display: flex; height: 120px">
          <span *ngIf="username == null" [routerLink]="['/register']"
             style="color: white; font-size: 19px"
             class="nav-link hoverYellowColor cursorTag">
            Đăng ký
          </span>
          <span *ngIf="username != null" (click)="logOut()"
                style="color: white" class="material-icons cursorTag">power_settings_new</span>&nbsp;
          <span *ngIf="username != null" (click)="logOut()" class="hoverYellowColor cursorTag"
             style="color: white; font-size: 19px">
            Đăng xuất
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
