<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #295d81 !important;">
  <a [routerLink]="['/']" class="navbar-brand" style="color: white; margin-left: 20px">Sản phẩm</a>
  <div *ngIf="username == null" style="width: 80%"></div>
  <div *ngIf="username != null" style="width: 70%"></div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a *ngIf="username == null" [routerLink]="['/login']" style="color: white; cursor: pointer"
           class="nav-link hoverYellowColor">Đăng
          nhập</a>
        <a class="hoverYellowColor" style="color: white" [routerLink]="['/detailUser']" *ngIf="username != null">
          Xin chào: {{username}}</a>
      </li>
      <li class="nav-item">
        <a *ngIf="username == null" [routerLink]="['/register']" style="color: white; cursor: pointer"
           class="nav-link hoverYellowColor">Đăng ký</a>
        <a class="hoverYellowColor" style="color: white; margin-left: 30px; cursor: pointer" *ngIf="username != null"
           (click)="logOut()">Đăng
          xuất</a>
      </li>
    </ul>
  </div>
</nav>
