<app-header></app-header>
<div class="container" style="margin-bottom: 15px">
  <span [routerLink]="['/']" style="font-size: 35px; cursor: pointer;"
        class="material-icons hoverYellowColor">arrow_back</span>
  <div class="row">
    <div class="col-2" style="background-color: whitesmoke; margin-left: 20px; border-radius: 5px">
      <h4 style="margin-top: 10px; margin-left: 5px">Menu thông tin</h4>
      <hr>
      <ul>
        <li (click)="changeToOrder()" class="hoverYellowColor cursorTag">
          <sub><span class="material-icons">event_note</span></sub> Đơn mua
        </li>
        <li (click)="changeToProfile()" class="hoverYellowColor cursorTag">
          <sub><span class="material-icons">person</span></sub> Hồ sơ
        </li>
        <li (click)="changeToPassword()" class="hoverYellowColor cursorTag">
          <sub><span class="material-icons">https</span></sub> Đổi mật khẩu
        </li>
        <li (click)="changeToAddress()" class="hoverYellowColor cursorTag">
          <sub><span class="material-icons">home</span></sub>Địa chỉ
        </li>
      </ul>
    </div>
    <div class="col-9" style="text-align: center; background-color: whitesmoke; margin-left: 40px; border-radius: 5px">
      <div class="row" *ngIf="checkProfile">
        <div style="margin-bottom: 10px" align="left"><h5 style="margin-top: 15px">Hồ Sơ Của Tôi</h5></div>
        <hr>
        <div class="col-6">
          <div align="left">
            <p>Họ tên : {{user?.username}}</p>
            <p>Số điện thoại : {{user?.phone}}</p>
          </div>
        </div>
        <div class="col-6">
          <img src="../../../assets/image/ruoi.jpg" alt="Lỗi ảnh" style="width:50%">
        </div>
      </div>
      <div class="row" *ngIf="checkOrder">
        <div style="margin-bottom: 10px" align="left"><h5 style="margin-top: 15px">Đơn mua</h5></div>
        <hr>
        <div class="row" style="margin-top: 10px">
          <div class="col-4">
            <a (click)="getAllOrderPayment('')" class="hoverYellowColor cursorTag">Tất cả</a>
          </div>
          <div class="col-4">
            <a (click)="getAllOrderPayment('ORDER_CONFIRM')" class="hoverYellowColor cursorTag">Đang giao hàng</a>
          </div>
          <div class="col-4">
            <a (click)="getAllOrderPayment('DELIVERY_SUCCESSFUL')" class="hoverYellowColor cursorTag">Hoàn thành</a>
          </div>
        </div>
        <div class="row">
          <table class="table" style="border: burlywood 1px solid; margin-top: 10px; margin-left: 10px">
            <thead>
            <tr>
              <th scope="col">Số đơn hàng</th>
              <th scope="col">Ngày tạo đơn</th>
              <th scope="col">Tổng tiền</th>
              <th scope="col">Thời gian giao hàng dự kiến</th>
              <th scope="col">Trạng thái</th>
              <th scope="col">Hành động</th>
            </tr>
            </thead>
            <tbody *ngFor="let pay of orderPayments as i">
            <tr [routerLink]="['/orderPaymentDetail', pay?.id]">
              <td>{{pay?.idShoppingCart}}</td>
              <td>{{pay?.createdAt | date:"dd/MM/yyyy HH:mm:ss" }} </td>
              <td>{{pay?.totalOrderAmount}}</td>
              <td>{{pay?.estimatedDelivery | date:"dd/MM/yyyy" }} </td>
              <td style="color: #0ba10b" *ngIf="pay?.orderPaymentStatus == 'ORDER_SUCCESSFUL'">Đặt hàng thành công</td>
              <td style="color: #0ba10b" *ngIf="pay?.orderPaymentStatus == 'ORDER_CONFIRM'">Đang giao hàng</td>
              <td style="color: #0ba10b" *ngIf="pay?.orderPaymentStatus == 'DELIVERY_SUCCESSFUL'">Đã giao hàng</td>
              <td class="cursorTag hoverYellowColor">Xem chi tiết</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row" style="height: 100px"></div>
      </div>
      <div class="row" *ngIf="changePassword">
        <div style="margin-bottom: 10px" align="left"><h5 style="margin-top: 15px">Đổi mật khẩu</h5></div>
        <hr>
        <form [formGroup]="changePasswordForm" (ngSubmit)="toChangePassword()">
          <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
              <div class="alert alert-danger" role="alert" *ngIf="messageErrorChangePassword != null">
                {{messageErrorChangePassword}}
              </div>
              <div class="row align-items-center">
                <div class="col mt-4">
                  <input id="oldPassword" type="text" formControlName="oldPassword" class="form-control"
                         placeholder="Mật khẩu cũ *">
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col mt-4">
                  <input id="newPassword" type="password" formControlName="newPassword" class="form-control"
                         placeholder="Mật khẩu mới *">
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col mt-4">
                  <input id="newPasswordConfirm" type="password" formControlName="newPasswordConfirm"
                         class="form-control"
                         placeholder="Xác nhận lại mật khẩu mới *">
                </div>
              </div>
              <div class="row justify-content-start mt-4">
                <div class="col">
                  <button [disabled]="!changePasswordForm.valid"
                          class="btn btn-primary mt-4" type="submit">Gửi yêu cầu
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row" *ngIf="checkAddress">
        <div style="margin-bottom: 10px" align="left"><h5 style="margin-top: 15px">Địa chỉ</h5></div>
        <hr>
        <div class="col-8">
          <div align="left">
            <p class="hoverYellowColor cursorTag btn btn-info">
              <sub><span style="font-size: 18px" class="material-icons">home</span></sub>
              Địa chỉ của bạn
            </p>
          </div>
          <div style="margin-top: 10px">
            <div *ngFor="let a of address as i">
              <div class="row">
                <div class="col-4">
                  <div *ngIf="a.inUse == false">
                    <span (click)="selectAddress(a?.id)" class="cursorTag hoverYellowColor"><u>Thiết lập mặc định</u></span>
                  </div>
                  <div *ngIf="a.inUse == true" style="color: #0ba10b; border-radius: 5px; border: #0ba10b 1px solid">
                    <sub><span style="font-size: 16px" class="material-icons">task_alt</span></sub>
                    <span class="cursorTag hoverYellowColor">Mặc định</span>
                  </div>
                  <p style="color: #295d81" class="cursorTag hoverYellowColor"><u>Cập nhật</u></p>
                </div>
                <div class="col-7">
                  <span>{{a?.province}}, </span>
                  <span>{{a?.district}}, </span>
                  <span>{{a?.ward}}, </span>
                  <p>{{a?.address}}</p>
                </div>
                <div class="col-1">
                  <button style="border: none; background-color: whitesmoke; margin-top: 3px"
                          (click)="deleteAddress(a?.id)">
                    <sub><span class="material-icons">delete</span></sub>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div align="left">
            <button *ngIf="!newAddress" (click)="openNewAddress()"
                    class="hoverYellowColor cursorTag btn btn-info">
              <sub><span style="font-size: 18px" class="material-icons">add_circle_outline</span></sub>
              Thêm địa chỉ mới
            </button>
            <button *ngIf="newAddress" (click)="closeNewAddress()"
                    class="hoverYellowColor cursorTag btn btn-info">
              <sub><span style="font-size: 18px" class="material-icons">highlight_off</span></sub>
              Đóng
            </button>
          </div>
          <div *ngIf="newAddress" align="left">
            <h6 style="margin-top: 10px">Tỉnh/Thành Phố *</h6>
            <select style="width: 200px" id="1" [(ngModel)]="selectedProvince"
                    (ngModelChange)="getAllDistrictByIdProvince();">
              <div *ngFor="let p of responseDataProvince?.data as i">
                <option [value]="p?.id">{{p?.name}}</option>
              </div>
            </select>
            <br>
            <h6 style="margin-top: 10px">Quận/Huyện *</h6>
            <select style="width: 200px" id="2" [(ngModel)]="selectedDistrict"
                    (ngModelChange)="getAllWardsByIdDistrict()">
              <div *ngFor="let p of responseDataDistrict?.data as i">
                <option [value]="p?.id">{{p?.name}}</option>
              </div>
            </select>
            <br>
            <h6 style="margin-top: 10px">Phường/Xã *</h6>
            <select style="width: 200px" id="3">
              <div *ngFor="let p of responseDataWards?.data as i">
                <option [value]="p?.id">{{p?.name}}</option>
              </div>
            </select>
            <br>
            <h6 style="margin-top: 10px">Địa chỉ cụ thể *</h6>
            <input id="4" style="width: 200px">
            <br>
            <button (click)="createAddress()"
                    style="margin-top: 15px; margin-bottom: 15px"
                    type="button"
                    class="btn btn-primary">Thêm
            </button>
          </div>
        </div>
      </div>
      <div class="row" style="height: 300px"></div>
    </div>
  </div>
</div>

<div id="snackbar">Đổi mật khẩu thành công !</div>
