<app-header></app-header>
<div style="background-color: #cccccc" align="center">
  <h3 style=" margin: 0px">Chi tiết sản phẩm</h3>
</div>
<div class="container" style="margin-bottom: 15px; margin-top: 10px">
  <span [routerLink]="[getPreviousUrl()]" style="font-size: 35px; cursor: pointer;"
        class="material-icons hoverYellowColor">arrow_back</span>
  <div style="background-color: whitesmoke; border-radius: 5px">
    <div align="right">
        <span [routerLink]="['/orderList']" style="font-size: 40px; cursor: pointer; color: #f44336"
              class="material-icons hoverYellowColor">shopping_cart</span>
      <sub>{{countProductOfUser}}</sub>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="card">
          <img style="width: 100%; height: 450px; border-radius: 5px"
               [src]="'data:image/jpeg;base64,' + product?.image"
               alt="Lỗi ảnh">
        </div>
        <div class="col" *ngIf="!check">
          <div class="rating">
            <input type="radio" name="rating" value="5" id="5" (click)="getStarValue(5)">
            <label for="5">☆</label>
            <input type="radio" name="rating" value="4" id="4" (click)="getStarValue(4)"><label
            for="4">☆</label>
            <input type="radio" name="rating" value="3" id="3" (click)="getStarValue(3)"><label
            for="3">☆</label>
            <input type="radio" name="rating" value="2" id="2" (click)="getStarValue(2)"><label
            for="2">☆</label>
            <input type="radio" name="rating" value="1" id="1" (click)="getStarValue(1)"><label
            for="1">☆</label>
          </div>
        </div>

        <div class="col" *ngIf="check">
          <div class="rating">
            <input type="radio" name="rating" value="5" disabled [checked]="rating === '5' || selected === 5">
            <label for="5" style="pointer-events: none; cursor: default;">☆</label>
            <input type="radio" name="rating" value="4" disabled [checked]="rating === '4' || selected === 4">
            <label for="4" style="pointer-events: none; cursor: default;">☆</label>
            <input type="radio" name="rating" value="3" disabled [checked]="rating === '3' || selected === 3">
            <label for="3" style="pointer-events: none; cursor: default;">☆</label>
            <input type="radio" name="rating" value="2" disabled [checked]="rating === '2' || selected === 2">
            <label for="2" style="pointer-events: none; cursor: default;">☆</label>
            <input type="radio" name="rating" value="1" disabled [checked]="rating === '1' || selected === 1">
            <label for="1" style="pointer-events: none; cursor: default;">☆</label>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row" *ngIf="idUser != null">
          <div class="col">
            <div class="row">
              <div class="col" *ngIf="isAdmin">
                <sub><span (click)="openUpdateForm()" style="font-size: 40px; color: #f44336; margin-top: 5px"
                           class="material-icons cursorTag">edit</span>
                </sub>
              </div>
              <div class="col">
                <div (click)="addToCart(); getSnackbar()">
                  <sub>
                  <span
                    style="font-size: 40px; color: #295d81; margin-top: 5px"
                    class="material-icons cursorTag">add_shopping_cart</span>
                  </sub>
                  <span class="cursorTag hoverYellowColor">Thêm vào giỏ hàng</span>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <h3>{{product?.productName}}</h3>
        <p class="priceColor"><b>Giá tiền: </b>{{product?.price}} VND</p>
        <p style="font-size: 17px"><b>Số lượng: </b>{{product?.quantity}} sản phẩm</p>
        <p style="font-size: 17px"><b>Mô tả: </b>{{product?.description}}</p>
        <p><b>Đánh giá: </b></p>
        <!--      <span class="fa fa-star"></span>-->
        <p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>&ensp;{{stars5}} Đánh giá
        </p>
        <p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>&ensp;{{stars4}} Đánh giá
        </p>
        <p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>&ensp;{{stars3}} Đánh giá
        </p>
        <p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>&ensp;{{stars2}} Đánh giá
        </p>
        <p>
          <span class="fa fa-star checked"></span>&ensp;{{stars1}} Đánh giá
        </p>
      </div>
      <div class="col-3">
        <div *ngIf="checkUpdateProduct" style="margin-right: 10px;">
          <div class="row">
            <div class="col-11">
              <h5>Chỉnh sửa sản phẩm</h5>
            </div>
            <div class="col-1">
              <sub>
                <span (click)="closeUpdateForm()" style="float: right; margin-top: 1px"
                      class="hoverYellowColor cursorTag material-icons">close</span>
              </sub>
            </div>
          </div>
          <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
            <div class="row">
              <div class="col text-center">
                <div *ngIf="checkFile" class="alert alert-danger" role="alert">
                  Bạn cần phải chọn ảnh để upload trước
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <label for="productName"><b>Tên sản phẩm: </b></label><br>
                <input type="text" id="productName"
                       formControlName="productName"
                       class="form-control"
                       placeholder="Tên sản phẩm">
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <label for="productName"><b>Mô tả: </b></label><br>
                <input type="text" id="description"
                       formControlName="description"
                       class="form-control"
                       placeholder="Mô tả sản phẩm">
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <label for="price"><b>Giá: </b></label><br>
                <input id="price" type="number"
                       formControlName="price"
                       class="form-control"
                       placeholder="Giá sản phẩm">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="quantity"><b>Số lượng: </b></label><br>
                <input id="quantity" type="number" formControlName="quantity" class="form-control"
                       placeholder="Số lượng">
              </div>
            </div>
            <div class="row justify-content-start mt-4" style="margin-bottom: 30px">
              <div class="col">
                <button *ngIf="checkUploadImage" class="btn btn-primary mt-4">Cập nhật sản phẩm</button>
                <button *ngIf="!checkUploadImage" disabled class="btn btn-primary mt-4">Cập nhật sản phẩm</button>
              </div>
            </div>
          </form>
          <div class="col-10 mb-3">
            <label class="px-3">Select File: </label>
            <input type="file" (change)="selectFile($event)"/>
          </div>
          <div class="col-2">
            <button class="btn btn-success btn-sm" (click)="uploadFile()">
              Upload
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 5px"></div>
  <div style="background-color: whitesmoke; border-radius: 5px">
    <div style="margin-left: 15px">
      <form [formGroup]="commentForm" (ngSubmit)="createComment()">
        <div class="row" style="margin-top: 10px">
          <div class="col-5">
            <textarea style="margin-top: 10px" formControlName="content" class="test1" id="w3review" name="w3review"
                      rows="4"
                      placeholder="Viết bình luận của bạn..." cols="69"></textarea>
            <p>Tối đa 500 kí tự.</p>
          </div>
          <div class="col">
            <button style="margin-top: 10px" [disabled]="!commentForm.valid"
                    *ngIf="idUser != null" (click)="getAllStar()" class="btn btn-primary">Gửi bình luận
            </button>
          </div>
        </div>
        <h5>Tất cả bình luận: </h5>
        <div class="row" *ngFor="let pr of comments index as i"
             style="border: grey 1px solid; margin-left: 1px; margin-right: 20px; border-radius: 5px;
                 margin-bottom: 5px; background-color: white">
          <div class="col-11">
            <h6 *ngIf="idUser != pr?.user?.id">Bình luận của {{pr?.user?.username}}: </h6>
            <h6 *ngIf="idUser == pr?.user?.id">Bình luận của bạn: </h6>
            <p style="word-wrap: break-word; color: grey">{{pr?.content}}</p>
            <p>{{pr?.createdAt | date:"dd/MM/yyyy HH:mm:ss"}} </p>
          </div>
          <div class="col-1" align="right">
            <sub>
              <span style="margin-top: 18px"
                    *ngIf="idUser == pr?.user?.id"
                    (click)="deleteComment(pr?.id)"
                    class="hoverYellowColor cursorTag material-icons">delete</span>
            </sub>
          </div>
        </div>
        <div class="row" style="height: 20px"></div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="isLoading" style="height: 600px">
  <div id="loader"></div>
</div>

<div id="snackbar">Thêm sản phẩm vào giỏ hàng thành công</div>
