<app-header></app-header>
<div class="container">
<span [routerLink]="['/']" style="font-size: 35px; cursor: pointer;"
      class="material-icons hoverYellowColor">arrow_back</span>
  <div style="background-color: white">
    <div class="row">
      <div class="col-3">
        <button *ngIf="count != 0" [routerLink]="['/checkout', idOrderProduct]"
                type="button"
                class="btn btn-primary">
          Đặt hàng ngay
        </button>
        <button *ngIf="count == 0" disabled type="button" class="btn btn-secondary">Đặt hàng ngay</button>
      </div>
      <div class="col-6" align="center"></div>
      <div class="col-3">
        <div align="right">
        <span [routerLink]="['/orderList']" style="font-size: 40px; cursor: pointer; color: #f44336"
              class="material-icons hoverYellowColor">shopping_cart</span>
          <sub>{{count}}</sub>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 15px">
      <div *ngFor="let pr of orderProductDetailDTOS index as i">
        <div class="row" style="margin-top: 5px; border-radius: 5px; height: 120px; background-color: whitesmoke">
          <div class="col-3">
            <img style="width: 50%;height: 115px" [src]="'data:image/jpeg;base64,' + pr?.image">
          </div>
          <div class="col-4">
            <h4 [routerLink]="['/detailProduct', pr?.idProduct]">{{pr?.productName}}</h4>
          </div>
          <div class="col-2">
            <span class="priceColor"><b>Tổng tiền: </b></span>
            <br>
            <span class="priceColor">{{pr?.totalPrice}}</span><span> VND</span>
            <br>
            <span><b>Đơn giá: </b></span>
            <br>
            <span>{{pr?.price}}</span><span> VND</span>
          </div>
          <div class="col-2">
            <div class="quantity-buttons" style="margin-top: 10px">
              <button class="btn btn-danger" (click)="decreaseProduct(pr?.idProduct)" id="decrease">-</button>
              <span class="quantity-display" id="quantity">{{pr?.totalQuantity}}</span>
              <button class="btn btn-success" (click)="increaseProduct(pr?.idProduct)" id="increase">+</button>
            </div>
          </div>
          <div class="col-1">
            <button style="margin-top: 10px; height: 40px; width: 80px" (click)="removeFromCart(pr?.idProduct)"
                    type="button"
                    class="btn btn-warning">Xóa
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="count != 0 && count < 3" style="height: 350px"></div>
      <div *ngIf="count != 0 && count >= 3 && count <= 4" style="height: 220px"></div>
      <div *ngIf="count == 0">
        <img style="width: 100%" align="center" src="../../assets/image/empty.png" alt="Lỗi ảnh">
      </div>
    </div>
  </div>
</div>
