<app-header></app-header>
<div style="background-color: #cccccc" align="center">
  <h3 style=" margin: 0px">Tạo mới sản phẩm</h3>
</div>
<div class="container" style="margin-top: 10px">
  <span [routerLink]="['/']" style="font-size: 35px; cursor: pointer;"
        class="material-icons hoverYellowColor">arrow_back</span>
  <form [formGroup]="productForm" (ngSubmit)="createProduct()">
    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-8 col-xl-6">
            <div class="row">
              <div class="col text-center">
                <div *ngIf="checkFile" class="alert alert-danger" role="alert">
                  Bạn cần phải chọn ảnh để upload trước !
                </div>
                <div *ngIf="uploadSuccess" class="alert alert-success" role="alert">
                  Upload ảnh thành công
                </div>
                <h1 id="test" *ngIf="created">Tạo sản phẩm thành công</h1>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col mt-4">
                <input type="text" formControlName="productName" class="form-control"
                       placeholder="Tên sản phẩm *">
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col mt-4">
                <input type="text" formControlName="description" class="form-control"
                       placeholder="Mô tả sản phẩm *">
              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="col">
                <input id="price" formControlName="price" (input)="formatPrice()"
                       class="form-control" placeholder="Giá sản phẩm *">
              </div>
              <div class="col">
                <input type="number" formControlName="quantity" class="form-control"
                       placeholder="Số lượng *">
              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="col-6">
                <label for="1">Thể loại: *&nbsp;</label>
                <select formControlName="idCategory"
                        style="width: 200px" id="1">
                  <div *ngFor="let ca of categories as i">
                    <option [value]="ca?.id">{{ca?.content}}</option>
                  </div>
                </select>
              </div>
              <div class="col-6">
                <input type="file" (change)="selectFile($event)" id="actual-btn" hidden/>
                <label class="hoverYellowColor cursorTag" for="actual-btn">
                  <sub>
                    <span style="font-size: 30px" class="material-icons">file_upload</span>
                  </sub>
                </label>
                <sup><span style="font-size: 17px" *ngIf="file == null">&nbsp;Không có ảnh nào được chọn</span></sup>
                <sup><span style="font-size: 17px" *ngIf="file != null">{{file.name}}</span></sup>
                <img style="width: 50px; height: 60px" *ngIf="file != null" src="{{fileUrl}}">
              </div>
            </div>
            <div class="row justify-content-start mt-4" style="margin-bottom: 30px">
              <div class="col">
                <button [disabled]="!productForm.valid || !uploadSuccess"
                        class="btn btn-primary mt-4">
                  Thêm mới sản phẩm
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
