<app-header></app-header>
<div class="container" style="margin-bottom: 15px">
    <span [routerLink]="[getPreviousUrl()]" style="font-size: 35px; cursor: pointer;"
          class="material-icons hoverYellowColor">arrow_back</span>
  <div class="row" style="margin-top: 10px; margin-bottom: 10px">
    <div class="col-3">
      <button *ngIf="role == 'ROLE_ADMIN'"
              (click)="updateStatusPayment()" class="btn btn-light">Xác nhận đơn hàng
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-3" style="background-color: whitesmoke; margin-left: 25px; border-radius: 5px">
      <p><b>Mã đơn hàng:</b></p>
      <p><b>Tổng tiền đơn hàng: (VNĐ)</b></p>
      <p><b>Tài khoản đặt hàng:</b></p>
      <p><b>Họ tên người đặt hàng:</b></p>
      <p><b>Địa chỉ giao hàng:</b></p>
      <p><b>Ngày đặt hàng: </b></p>
      <p><b>Trạng thái đơn hàng: </b></p>
      <p><b>Phương thức giao hàng: </b></p>
      <p><b>Dự kiến ngày giao hàng:</b></p>
      <p><b>Ghi chú:</b></p>
    </div>
    <div class="col-6" style="background-color: whitesmoke; margin-left: 20px; border-radius: 5px">
      <p>{{orderPayment?.idShoppingCart}}</p>
      <p>{{orderPayment?.totalOrderAmount}}</p>
      <p>{{user?.username}}</p>
      <p>{{user?.fullName}}</p>
      <p>
        <span>{{addressInUse?.province}}, </span>
        <span>{{addressInUse?.district}}, </span>
        <span>{{addressInUse?.ward}}, </span>
        <span>{{addressInUse?.address}}</span>
      </p>
      <p>{{orderPayment?.createdAt | date:"dd/MM/yyyy HH:mm:ss"}}</p>
      <p>{{orderPayment?.orderPaymentStatus}}</p>
      <p>{{orderPayment?.deliveryMethod}}</p>
      <p>{{orderPayment?.estimatedDelivery | date:"dd/MM/yyyy"}}</p>
      <p>{{orderPayment?.note}}</p>
    </div>
    <div class="col-2" style=" margin-left: 20px; background-color: whitesmoke; border-radius: 5px">
      <div *ngFor="let paymentHistory of orderPaymentHistories index as i">
        <p>{{paymentHistory?.createdAt | date:"dd/MM/yyyy HH:mm:ss"}}</p>
        <p>{{paymentHistory?.status}}</p>
      </div>
    </div>
    <div class="row" style="margin-top: 5px">
      <div *ngFor="let pr of orderProductDetailDTOS index as i">
        <div class="row" style="margin-top: 5px; border-radius: 5px; height: 120px; background-color: whitesmoke">
          <div class="col-3">
            <img style="width: 50%;height: 115px; margin-top: 3px;"
                 [src]="'data:image/jpeg;base64,' + pr?.image">
          </div>
          <div class="col-4">
            <h5 class="cursorTag" [routerLink]="['/detailProduct', pr?.idProduct]">{{pr?.productName}}</h5>
            <p>Số lượng: {{pr?.totalQuantity}}</p>
          </div>
          <div class="col-5">
            <span class="priceColor"><b>Tổng số tiền sản phẩm: </b></span>
            <br>
            <span class="priceColor">{{pr?.totalPrice}}</span><span> VND</span>
            <br>
            <span><b>Đơn giá: </b></span>
            <br>
            <span>{{pr?.price}}</span><span> VND</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
