<app-header></app-header>
<div class="container">
  <span [routerLink]="['/']" style="font-size: 35px; cursor: pointer;"
        class="material-icons hoverYellowColor">arrow_back</span>
  <div class="row" style="background-color: whitesmoke">
    <div class="col-1"></div>
    <div class="col-3">
      <h2>Menu thông tin</h2>
      <ul>
        <li>Hồ sơ</li>
        <li>Đổi mật khẩu</li>
        <li>Địa chỉ</li>
      </ul>
    </div>
    <div class="col-7" style="text-align: center">
      <div class="row">
        <div class="col-6">
          <h2>Hồ Sơ Của Tôi</h2>
          <hr>
          <p>Họ tên : {{user?.username}}</p>
          <p>Số điện thoại : {{user?.phone}}</p>
        </div>
        <div class="col-6">
          <h2>Ảnh đại diện</h2>
          <hr>
          <img src="https://bizweb.dktcdn.net/100/445/527/products/giay-the-thao-nu-6.jpg?v=1697725469420"
               alt="Denim Jeans" style="width:50%">
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
<div style="height: 200px"></div>
