<app-header></app-header>
<div style="background-color: #cccccc" align="center">
  <h3 style=" margin: 0px">Đặt Hàng</h3>
</div>
<div class="container" style="margin-top: 10px">
  <span [routerLink]="['/orderList']" style="font-size: 35px; cursor: pointer;"
        class="material-icons hoverYellowColor">arrow_back</span>
  <div class="row" style="margin-top: 5px; margin-bottom: 15px">
    <div class="col-7">
      <div *ngFor="let pr of orderProductDetailDTOS index as i">
        <div class="row" style=" margin-top: 5px; border-radius: 5px; height: 120px; background-color: whitesmoke">
          <div class="col-3">
            <img style="width: 80%;height: 115px; margin-top: 3px;" [src]="'data:image/jpeg;base64,' + pr?.image">
          </div>
          <div class="col-4">
            <h4 class="cursorTag" [routerLink]="['/detailProduct', pr?.idProduct]">{{pr?.productName}}</h4>
            <p>Số lượng: {{pr?.totalQuantity}}</p>
          </div>
          <div class="col-3">
            <span class="priceColor"><b>Tổng tiền sản phẩm: </b></span>
            <br>
            <span class="priceColor">{{pr?.totalPrice}}</span><span> VND</span>
            <br>
            <span><b>Đơn giá: </b></span>
            <br>
            <span>{{pr?.price}}</span><span> VND</span>
          </div>
          <div class="col-1">
            <button style="margin-top: 10px; height: 40px; width: 80px" (click)="removeFromCart(pr?.idProduct)"
                    type="button"
                    class="btn btn-warning">Xóa
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <h3>Mã đơn hàng: {{shoppingCartDTO?.idOrderProduct}}</h3>
      <hr>
      <p><b>Tổng số tiền đơn hàng: </b></p>
      <p>{{shoppingCartDTO?.totalPrice}} VND</p>
      <p><b>Phí vận chuyển: </b></p>
      <p>Miễn phí giao hàng</p>
      <p><b>Hình thức giao hàng: </b></p>
      <p>COD Thanh toán khi nhận hàng</p>
      <p><b>Địa chỉ giao hàng: </b></p>
      <span>{{addressInUse?.province}}, </span>
      <span>{{addressInUse?.district}}, </span>
      <span>{{addressInUse?.ward}}, </span>
      <p>{{addressInUse?.address}}</p>
      <hr>
      <label *ngIf="count != 0" (click)="updateStatus()"
             for="control-modal" class="test-modal">Đặt hàng</label>
      <label *ngIf="count == 0" (click)="updateStatus()" disabled
             class="test-modal" style="background-color: gray !important;">Đặt hàng</label>
    </div>
  </div>
  <div style="height: 300px"></div>
</div>

<input type="checkbox" id="control-modal"/>

<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="col-10" align="left">
        <h4>Đặt hàng thành công</h4>
      </div>
      <div class="col-2">
        <span style="color: #0ba10b; font-size: 30px" class="material-icons">task_alt</span>
      </div>
      <label [routerLink]="['/']" for="control-modal" class="modal-close">X</label>
    </div>
    <div class="modal-body">
      <p>Bạn đã đặt hàng thành công</p>
      <p class="cursorTag hoverYellowColor" [routerLink]="['/']">Nhấn vào đây để quay về trang sản phẩm</p>
    </div>
  </div>
</div>
