<app-header></app-header>
<div style="background-color: #cccccc" align="center">
  <h3 style=" margin: 0px">Đăng nhập</h3>
</div>
<div class="container" style="margin-top: 10px">
<span [routerLink]="[getPreviousUrl()]" style="font-size: 35px; cursor: pointer;"
      class="material-icons hoverYellowColor">arrow_back</span>
  <form [formGroup]="userForm" (ngSubmit)="login()">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-8 col-xl-6">
        <div class="alert alert-danger" role="alert" *ngIf="messageErrorLogin != null">
          {{messageErrorLogin}}
        </div>
        <div class="row align-items-center">
          <div class="col mt-4">
            <input type="text" formControlName="username" class="form-control" placeholder="Tên đăng nhập *">
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col mt-4">
            <input type="password" formControlName="password" class="form-control" placeholder="Mật khẩu *">
          </div>
        </div>
        <div class="col">
          <button [disabled]="!userForm.valid" class="btn btn-primary mt-4" type="submit">Đăng nhập</button>
          <div class="row">
            <div class="col-6 cursorTag">
              <span [routerLink]="['/register']" class="psw"><a>Chưa có tài khoản?</a></span>
            </div>
            <div class="col-6 cursorTag" style="text-align: right">
              <span [routerLink]="['/forgotPassword']" class="psw"><a>Quên mật khẩu?</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
