/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.test {
  margin-left: 500px;
}

.hoverYellowColor:hover {
  color: #ffc107;
}

.cursorTag {
  cursor: pointer
}

.priceColor {
  font-size: 17px;
  color: #f44336
}
