<app-header></app-header>
<div style="background-color: #cccccc" align="center">
  <h3 style=" margin: 0px">Lấy lại mật khẩu</h3>
</div>
<div class="container">
   <span [routerLink]="['/login']" style="font-size: 35px; cursor: pointer;"
         class="material-icons hoverYellowColor">arrow_back</span>
  <form [formGroup]="userForm" (ngSubmit)="sendPinCode()" style="height: 420px">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-8 col-xl-6">
        <div class="alert alert-success" role="alert" *ngIf="user?.password != null">
          Mật khẩu mới của bạn:
          {{user?.password}}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="messageError != null">
          {{messageError}}
        </div>
        <div class="row align-items-center">
          <div class="col mt-4">
            <input type="text" formControlName="username" class="form-control" placeholder="Tên đăng nhập *">
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col mt-4">
            <input type="pin" formControlName="pin" class="form-control" placeholder="Mã pin *">
          </div>
        </div>
        <div class="row justify-content-start mt-4">
          <div class="col">
            <button [disabled]="!userForm.valid" class="btn btn-primary mt-4" type="submit">Gửi yêu cầu</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
