<app-header></app-header>
<div class="container">
    <span [routerLink]="['/']" style="font-size: 35px; cursor: pointer;"
          class="material-icons hoverYellowColor">arrow_back</span>
  <table class="table" style="border: burlywood 1px solid; margin-top: 10px">
    <thead>
    <tr>
      <th scope="col">Số thứ tự</th>
      <th scope="col">Tên tài khoản</th>
      <th scope="col">Tên người dùng</th>
      <th scope="col">Ngày đăng kí</th>
      <th scope="col">Ngày sinh</th>
      <th scope="col">Trạng thái</th>
      <th scope="col">Hoạt động</th>
    </tr>
    </thead>
    <tbody *ngFor="let user of userDTOS index as i">
    <tr>
      <td>&nbsp;{{i + 1}}</td>
      <td>{{user?.username}}</td>
      <td>{{user?.fullName}}</td>
      <td>{{user?.createdAt | date:"dd/MM/yyyy"}}</td>
      <td>{{user?.dateOfBirth | date:"dd/MM/yyyy"}}</td>
      <td *ngIf="user?.status == 'ACTIVE'" style="color: #0ba10b">{{user?.status}}</td>
      <td *ngIf="user?.status == 'INACTIVE'" style="color: #bd0d2e">{{user?.status}}</td>
      <td *ngIf="user?.status == 'ACTIVE'" class="cursorTag hoverYellowColor">Khóa tài khoản</td>
      <td *ngIf="user?.status == 'INACTIVE'" class="cursorTag hoverYellowColor">Mở khóa tài khoản</td>
    </tr>
    </tbody>
  </table>
</div>
